@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');
        
@font-face{
	font-family: f1;
	src: url("font/Vazirmatn-ExtraBold.ttf");
}

        body {
			font-family: f1;
            //font-family: 'Noto Naskh Arabic', serif;
            background-color: #f5f7fa;
        }
        
        .hero-gradient {
            background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);
        }
        
        .service-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
        }
        
        .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #3b82f6;
            transition: width .3s;
        }
        
        .nav-link:hover::after {
            width: 100%;
        }